* {
  box-sizing: border-box;
}

.content_wrapper.contact_us {
  background-image: url('../images/contact-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image:
    -webkit-linear-gradient( -90deg, rgba(121,175,212,0.749) 1%, rgba(67,198,185,0.749) 100%),
    url('../images/contact-bg.jpg');
    color: white;
}

 .contact_us .content_header  {
  background-image: none;
  padding-bottom: 0;
  padding-top: 3rem;
}

.contact_us .info_box {
  padding-bottom: 50px;
  padding-top: 60px;
}

.contact_us .info_list .input_box input {
  width: 100%;
  border-radius: 0;
  margin: 20px 0;
  background: rgba(0,0,0,0);
  border: none;
  border-bottom: 1px solid white;
}

.contact_us .info_list .input_box {

    height: auto;

    background-color: rgba(0,0,0,0);
    border-radius: 0;
    display: inline-block;
    vertical-align: middle;
    font-size: 0.66rem;
}



.contact_us .contact_box textarea {

    border-radius: 0;
    background-color: rgba(0,0,0,0);
    padding: 15px;
    font-size: 0.66rem;
    display: block;
    border-bottom: 1px solid white;
    height: auto;
}

.contact_us .content_header .container {
  padding: 0 5%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255,255,255, 0.7);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(255,255,255, 0.7);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: wrgba(255,255,255, 0.7)hite;
}
