
/* Local fonts */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Open_Sans/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
}

/* /Local fonts */

/* Tag selectors */

html, body {
  height: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fbfbfb;
  padding-top: 60px;
}

/* /Tag selectors */


.color-section {
  background-image: -webkit-linear-gradient(-60deg, rgb(121, 175, 212) 1%, rgb(67, 198, 185) 100%);
}


/* Nav bar */
#main-nav {
  background: #fff;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.14);
}

.nav-item {
  margin-right: 20px;
}


/* Media queries */


@media (min-width: 1200px) {
  .container {
    max-width: 1315px;
  }
}

@media screen and (min-width: 992px) {
  #main-nav {
    padding: 1rem 0;
  }

  .third-section-page__home h2 {
    font-size: 3rem;
    padding: 0 15rem 1rem;
  }

  .first-section-page {
    padding: 5% 0 8% 0;
  }

  .first-section-page__blog {
    padding: 9% 0 4% 0;
  }

  .third-section-page__home .subtitle {
    padding: 0 17rem;
  }

  .second-section-page__home h2 {
    font-size: 4rem;
  }

  .third-section-page__home .third-text {
    padding-right: 9%;
  }

  .third-section-page__home .third-text:nth-child(2n) {
    padding-left: 9%;
  }

  .fourth-section-page__home {
    padding: 5% 0 7% 15%;
  }

  .fourth-section-page__home h2 {
    text-align: left;
  }

  .third-img {
    width: 70%;
    height: 70%;
  }

  .footer .demo h2 {
    font-size: 4rem;
  }

  .first-section-page__home .col-md-6:first-child {
    padding: 0 3rem;
  }

  .logistics {
    margin-top: 5rem;
  }

  .footer {
    padding-top: 7%;
  }

  #first-section-page__solutions .col-9 {
    padding-right: 5rem;
  }

  .first-section-page__grid .row {
    margin-bottom: 3rem;
  }

  #first-section-page__solutions {
    padding: 9% 0 3% 0;
  }

  .first-section-page__grid .col-md-4 {
    padding: 0 2.5rem;
  }

  #first-section-page__solutions .row {
    padding: 0 2rem;
  }

  .first-section-page__aboutus {
    height: 778px;
  }

  .second-section-page__goals {
    padding: 0 30% 7%;
  }

  .first-section-page__aboutus h1 {
    font-weight: 900;
    font-size: 3rem;
  }

  .first-section-page__aboutus {
    background-image: url(../images/bg8.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 0px;
    background-color: #fff;
  }

  .contact_header {
    border-radius: 0;
    padding: 200px 40px 200px 40px;
  }

  .first-section-page__resources h1 {
    font-weight: 700;
    font-size: 5rem;
  }

  .first-section-page__resources h5 {
    margin-top: 2rem;
    padding: 0 25%;
  }

  .resources__search .form-inline {
    min-width: 50%;
  }

  .resources__search {
    justify-content: flex-end;
  }

  .resources__search .form-inline {
    justify-content: flex-end;
  }

  .blog__newsletter {
    padding: 5rem 4rem 1rem;
  }

  .first-section-page__demo .demo__form {
    width: 400px;
  }

  .first-section-page__demo h1 {
    font-size: 3rem;
  }
  .first-section-page__download .demo__form {
    width: 400px;
  }

  .first-section-page__download h1 {
    font-size: 3rem;
  }
  .second-section-page__goals p {
    line-height: 2;
  }


}

@media screen and (max-width: 990px) {
  body {
    padding-top: 0px;
  }
  .third-section-page__home h2 {
    padding: 0;
    font-size: 1.88rem;
  }

  .third-section-page__home {
    padding: 2rem;
    margin: 0 5%;
  }

  .third-section-page__home .subtitle {
    padding: 0;
  }

  .second-section-page__home h2 {
    font-size: 2rem;
  }

  .third-text {
    text-align: center;
    padding: 0;
  }

  .third-section-page__home .third-text {
    padding-right: 0;
  }

  .third-section-page__home .third-text:nth-child(2n) {
    padding-left: 0;
  }

  .fourth-section-page__home {
    text-align: center;
    padding: 0;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .fourth-section-page__home h2 {
    text-align: center;
  }

  .third-img {
    width: 70%;
    height: 70%;
  }

  .first-section-page {
    padding-top: 1rem;
  }

  .first-section-page__blog {
    padding-top: 5rem;
  }

  .first-section-page__home h1 {
    text-align: center;
  }

  .footer .demo h2 {
    font-size: 2.5rem;
  }

  .first-section-page {
    padding: 20% 0 0 0;
  }

  .logistics {
    margin-top: 2rem;
  }

  .footer {
    padding-top: 10%;
  }

  #first-section-page__solutions {
    padding: srem 0;
    margin-top: 3rem;
  }

  #first-section-page__solutions .col-md-5 img {
    padding-top: 2rem;
    width: 70%;
  }

  #first-section-page__solutions .col-md-5 {
    display: flex;
    justify-content: center;
  }

  .flex-container {
    display: flex;
    flex-flow: column;
  }

  .flex-container__item {
    order: 2;
  }

  .flex-container__image {
    order: 1;
  }

  .first-section-page__aboutus {
    padding-top: 10%;
    text-align: center;
    padding-bottom: 10%;
  }

  .first-section-page__aboutus h1 {
    font-weight: 700;
    font-size: 3rem;
  }

  .aboutus__header h3 {
    font-size: 1.2rem;
  }

  .first-section-page__aboutus {
    background-image: -webkit-linear-gradient(-60deg, rgb(121, 175, 212) 1%, rgb(67, 198, 185) 100%);
  }

  .second-section-page__goals {
    margin-top: 4rem;
  }

  .contact_header {
    padding: 100px 40px 150px 40px;
  }

  .contact_header h1 {
    font-size: 35px;
  }

  .first-section-page__resources h1 {
    font-weight: 700;
    font-size: 3rem;
  }

  .first-section-page__resources h5 {
    margin-top: 1rem;
    padding-bottom: 4rem;
  }

  .resources__search .form-inline {
    min-width: 100%;
  }

  .resources__search {
    justify-content: center;
  }

  .resources__search .form-inline {
    justify-content: center;
  }

  .blog__newsletter {
    padding: 2rem 2rem;
  }

  .first-section-page__demo .demo__form {
    width: 100%;
  }
  .first-section-page__download .demo__form {
    width: 100%;
  }
  .second-section-page__goals p {
    line-height: normal;
  }
  .third-section-page__questions.accordion-section .panel-collapse { display: block;}
}



/* Media queries */

/* Home Page */
/* First Section */

.first-section-page__grid {
  margin-top: 10%;
}

.first-section-page__grid .form-control:focus {
  border: 0;
  box-shadow: none;
}

.first-section-page__grid .logistics {
  margin-bottom: 2rem;
  text-align: center;
}

.first-section-page__grid .logistics h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  margin-bottom: 2rem;
}

.first-section-page__home .first-section__paragraph {
  text-align: justify;
  color: rgba(0, 0, 0, 0.4);
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.first-section-page__home {
  background: linear-gradient(rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)), url('../images/bg-fs.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.first-section-page__home .first-section__title {
  font-family: 'Roboto', sans-serif;
  background: -webkit-linear-gradient(-60deg, rgb(121, 175, 212) 1%, rgb(67, 198, 185) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  line-height: 1.4;
}

.first-section-page__home input::placeholder {
  color: #999;
  opacity: 0.5;
}

.first-section-page__home input {
  border: 1px solid #e1e1e1;
  background-color: #fff;
}

/* /First Section */

/* Second Section */
.second-section-page__home h2 {
  text-align: justify;
  text-align: center;
  margin-bottom: 2.6rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

.second-section-page__home {
  color: #fff;
  padding: 5rem 0;
}

.second-section-page__home h3 {
  font-weight: 600;
  color: #f5f5f5;
}

.second-section-page__home p {
  color: #f5f5f5;
  line-height: normal;
  text-align: justify;
}

/* /Second Section */

/* Third Section */

.third-section-page__home h2 {
  text-align: center;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  color: #333;
  line-height: 1.5;
}

.third-section-page__home .subtitle {
  color: #999;
  line-height: 1.5;
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 5rem;
}

.third-section-page__home h4 {
  font-weight: bold;
}

.third-section-page__home .third-text {
  padding-left: 0;
}

.third-section-page__home .third-text:nth-child(2n) {
  justify-content: flex-end;
  padding-right: 0;
}

.third-section-page__home .third-text p {
  padding-top: 10px;
  text-align: justify;
  line-height: normal;
  color: #999;
  font-size: 1.2rem;
}

.third-section-page__home {
  padding: 4rem 0 2rem 0;
}

/* /Third Section */

/* Fourth Section */

.fourth-section-page__home {
  color: #fff;
}

.fourth-section-page__home p {
  text-align: justify;
  font-family: 'Roboto', sans-serif;
  color: #f5f5f5;
  font-size: 1.01rem;
  line-height: normal;
}

.fourth-section-page__home h4 {
  font-weight: 600;
  color: #f5f5f5;
  line-height: normal;
  margin-top: 45px;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  color: #f5f5f5;
}

.fourth-section-page__home .full-img {
  padding-right: 0;
}

.fourth-section-page__home h2 {
  font-size: 2.3rem;
  line-height: 1.2;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: #f5f5f5;
}
/* /Fourth Section */
/* /Home Page */


/* Solutions Page */

#first-section-page__solutions h1 {
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  color: #2758a1;
  text-align: center;
  margin-bottom: 13px;
}

#first-section-page__solutions {
  background-image: -webkit-linear-gradient(-90deg, rgb(121, 175, 212) 1%, rgb(67, 198, 185) 100%);
  color: #fff;
}

#first-section-page__solutions h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-align: center;
  margin-bottom: 5rem;
}

#first-section-page__solutions h4 {
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  letter-spacing: normal;
}

#first-section-page__solutions .col-3 {
  display: flex;
  justify-content: center;
}

.first-section-page__grid .col-md-4 {
  text-align: center;
  margin-bottom: 3rem;
}

.first-section-page__grid .col-md-4 p {
  text-align: justify;
}

.first-section-page__grid img {
  margin-bottom: 2rem;
}

.second-section-page__chart {
  background-color: #fff;
  background-image: url(../images/bg3.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: 100% 100%;
  padding-top: 5rem;
  padding-bottom: 4rem;
  text-align: center;
}

.second-section-page__chart .chart__item:nth-child(1) i {
  background-color: #64d0ea;
}

.second-section-page__chart .chart__item:nth-child(2) i {
  background-color: #58d29a;
}

.second-section-page__chart .chart__item:nth-child(3) i {
  background-color: #f67866;
}

.second-section-page__chart .chart__item:nth-child(4) i {
  background-color: #f8db5c;
}

.second-section-page__chart i {
  width: 27px;
  height: 27px;
  border-radius: 6px;
  display: inline-block;
  vertical-align: middle;
}

.second-section-page__chart h2 {
  color: #78b0d3;
  font-weight: 700;
  text-align: center;
  margin-bottom: 3rem;
  font-family: 'Roboto', sans-serif;
}

.second-section-page__chart .num {
  font-size: 1.88rem;
  text-align: center;
}

.chart__item {
  color: #666;
  display: flex;
  justify-content: flex-start;
  text-align: left;
}

.chart__item .col-4 {
  padding: 0;
}
/* /Solutions Page */

/* About Us Page */
.first-section-page__aboutus {
  color: #fff;
}

.first-section-page__aboutus .aboutus__header {
  padding-top: 18%;
}

.second-section-page__goals {
  text-align: center;
  justify-content: center;
  background-color: #fff;
}

.second-section-page__goals h2 {
  font-weight: 600;
  color: #78b0d3;
  margin-bottom: 2rem;
}

.second-section-page__goals p {
  text-align: justify;
  color: #999;
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.first-section-page__aboutus h1 {
  font-family: 'Roboto', sans-serif;
  line-height: normal;
  word-break: break-word;
}

.third-section-page__questions.accordion-section .panel-default>.panel-heading {
  border: 0;
  padding: 0;
}


.third-section-page__questions.accordion-section .panel-default .panel-title a {
  display: block;
  font-style: italic;
  font-size: 1.5rem;
  color: #999;
}

.third-section-page__questions.accordion-section .panel-default .panel-title a:after {
  font-family: 'FontAwesome';
  font-style: normal;
  font-size: 3rem;
  content: "\f106";
  color: #999;
  float: right;
  margin-top: -12px;
}

.third-section-page__questions.accordion-section .panel-default .panel-title a.collapsed:after {
  content: "\f107";
}

.third-section-page__questions.accordion-section .panel-default .panel-body {
  font-size: 1.2rem;
}

.third-section-page__questions {
  padding: 5% 0;
}

.third-section-page__questions h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: #78b0d3;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  text-align: center;
}
/* /About Us Page */

/* Contact Page */
.first-section-page__contact {
  padding-bottom: 10%;
}

.first-section-page__contact .contact_header {
  border-radius: 0;
  background-image: url('../images/contact-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image:
    -webkit-linear-gradient(-90deg, rgba(121, 175, 212, 0.749) 1%, rgba(67, 198, 185, 0.749) 100%),
    url('../images/contact-bg.jpg');
  color: white;
}

.first-section-page__contact .contact_header h1 {
  color: #fff;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  font-size: 5rem;
}

.first-section-page__contact .contact_header p {
  color: #fff;
  font-size: 2rem;
}

.first-section-page__contact .contact_form_wrapper {
  margin-top: -150px;
}

.first-section-page__contact .contact_form {
  background: #fff;
  border-radius: 1rem;
  box-shadow: rgba(42, 45, 54, .075) 0 12px 34px, rgba(0, 0, 0, .05) 0 6px 15px, inset transparent 0 0 0 0;
  margin: 0 auto 0 auto;
  max-width: 850px;
  padding: 50px;
}

.first-section-page__contact .contact_form .form-control {
  border-radius: 1rem;
  border-color: #dcdcdc;
  color: #777;
  padding: 8px;
}

.first-section-page__contact .contact_form input[type=text]:focus,
.first-section-page__contact .contact_form input[type=email]:focus,
.first-section-page__contact .contact_form textarea:focus {
  box-shadow: inset 0 0 3px #f0f0f0;
  border: 1px solid #bbb;
}

.first-section-page__contact .contact_form textarea {
  min-height: 120px;
}

.first-section-page__contact .form-control::-webkit-input-placeholder {
  color: #888;
}

.first-section-page__contact .form-control:-moz-placeholder {
  color: #888;
  ;
}

.first-section-page__contact .form-control::-moz-placeholder {
  color: #888;
  ;
}

.first-section-page__contact .form-control:-ms-input-placeholder {
  color: #888;
  ;
}

.first-section-page__contact .form-control::-ms-input-placeholder {
  color: #888;
  ;
}
/* /Contact Page */

/* Resources Page */
.first-section-page__resources {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.first-section-page__resources h5 {
  line-height: 1.5;
}

.resources__search {
  display: flex;
  margin-bottom: 3rem;
}

.resources__search .form-inline {
  flex-shrink: 0;
}

.about-border {
  display: block;
  width: 80px;
  height: 3px;
  background: #fff;
  margin: 20px auto;
}

.first-section-page__resources {
  color: #fff;
}

.second-section-page__resources {
  padding: 3rem 0;
}

.resources__card .card-subtitle {
  color: #68b6cb;
  font-weight: bold;
}

.resources__card a {
  text-decoration: none;
  color: black;
}

.resources__card .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 40%;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.resources__card a:hover .overlay {
  opacity: 0.7;
}

.resources__card .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.second-section-page__resources h2 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

/* /Resources Page */


/* Blog Page */
.blog__newsletter {
  text-align: center;
  color: white;
}

.newsletter__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

.newsletter__subtitle {
  margin-bottom: 3rem;
}

.blog__newsletter .input-group .form-control {
  border-radius: 0 10px 10px 0;
  font-size: 1rem;
  line-height: 5;
}

.blog__newsletter .input-group .input-group-text {
  border-radius: 10px 0 0 10px;
}



.first-section-page__blog .card-subtitle {
  font-weight: bold;
}

.first-section-page__blog .card-text {
  font-size: 1.2rem;
  line-height: 1.5;
}

.first-section-page__blog .card-body {
  padding: 2rem 2rem 3rem;
}

.blog__tag-cloud {
  margin-top: 5rem;
  text-align: center;
}

.btn-outline-dark {
  border-radius: 20px;
  margin-bottom: 20px;
}

.blog__tag-cloud a.collapsed:after {
  content: "\f107";
}

.blog__tag-cloud a:after {
  font-family: 'FontAwesome';
  font-weight: bold;
  font-size: 2.5rem;
  content: "\f106";
  color: black;
  display: inline-block;
  margin-left: 1rem;
}

.navbar-collapse {
  text-align: center;
}

/* /Blog Page */

/* Request a Demo Page */

.demo__form {
  color: #000;
  margin: 0 auto;
}

.demo__form h2 {
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  color: #43c6b9;
  margin: 0 0 15px;
  text-align: center;
}

.demo__form .lead {
  font-size: 14px;
  margin-bottom: 30px;
  text-align: center;
  color: #636363;
}

.demo__form form {
  border-radius: 1px;
  margin-bottom: 15px;
  background: #fff;
  border: 1px solid #f3f3f3;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}

.demo__form .form-group {
  margin-bottom: 20px;
}

.demo__form label {
  font-weight: normal;
  font-size: 13px;
}

.demo__form .form-control {
  min-height: 38px;
  box-shadow: none !important;
  border-width: 0 0 1px 0;
}

.demo__form .input-group-addon {
  max-width: 42px;
  text-align: center;
  background: none;
  border-width: 0 0 1px 0;
  padding-left: 5px;
}

.demo__form .btn {
  font-size: 16px;
  font-weight: bold;
  background: #43c6b9;
  border-radius: 10px;
  border: none;
  min-width: 140px;
  outline: none !important;
}

.demo__form .btn:hover, .demo__form .btn:focus {
  background: #179b81;
}

.demo__form a {
  color: #19aa8d;
  text-decoration: none;
}

.demo__form a:hover {
  text-decoration: underline;
}

.demo__form .fa {
  font-size: 21px;
}

.demo__form .fa-paper-plane {
  font-size: 17px;
}

.demo__form .fa-check {
  color: #fff;
  left: 9px;
  top: 18px;
  font-size: 7px;
  position: absolute;
}

.first-section-page__demo {
  color: #fff;
}

.first-section-page__demo h1 {
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 2rem;
}

.first-section-page__demo h3 {
  font-weight: bold;
  margin-bottom: 4rem;
}

.first-section-page__demo .col-sm-4 {
  padding: 1rem;
}

.first-section-page__demo .col-sm-4 h5 {
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: 300;
}

/* /Request a Demo Page */

/* Login Page */
.first-section-page__login {
  height: 100%;
}

.first-section-page__login .login__form {
  color: #000;
  margin: 0 auto;
  padding-top: 20%;
}

.first-section-page__login .login__form h2 {
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  color: #43c6b9;
  margin: 0 0 15px;
  text-align: center;
}

.login__form .lead {
  font-size: 14px;
  margin-bottom: 30px;
  text-align: center;
  color: #636363;
}

.login__form form {
  margin-bottom: 15px;
  padding: 30px;
}

.login__form .form-group {
  margin-bottom: 20px;
}

.login__form label {
  font-weight: normal;
  font-size: 13px;
}

.login__form .form-control {
  min-height: 38px;
  box-shadow: none !important;
  border-width: 0 0 1px 0;
}

.login__form .input-group-addon {
  max-width: 42px;
  text-align: center;
  background: none;
  border-width: 0 0 1px 0;
  padding-left: 5px;
}

.login__form .btn {
  font-size: 16px;
  font-weight: bold;
  background: #43c6b9;
  border-radius: 10px;
  border: none;
  min-width: 140px;
  outline: none !important;
}

.login__form .btn:hover, .demo__form .btn:focus {
  background: #179b81;
}

.login__form a {
  color: #19aa8d;
  font-size: .8rem;
  text-decoration: underline;
}

.login__form a:hover {
  text-decoration: underline;
}

.login__form .fa {
  font-size: 21px;
}

.login__form .fa-paper-plane {
  font-size: 17px;
}

.login__form .fa-check {
  color: #fff;
  left: 9px;
  top: 18px;
  font-size: 7px;
  position: absolute;
}

.login__image {
  background-image: url(../images/login-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px 0px;
}
/* /Login Page */

/* Download Resources page  */

.first-section-page__download {
  color: #fff;
}

.first-section-page__download h1 {
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 2rem;
}

.first-section-page__download h3 {
  font-weight: bold;
  margin-bottom: 4rem;
}

.first-section-page__download .col-sm-4 {
  padding: 1rem;
}

.first-section-page__download .col-sm-4 h5 {
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: 300;
}

/* /Download Resources page  */


/* Footer */
.footer {
  background-image: url('../images/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.footer .demo {
  text-align: center;
  margin-bottom: 8%;
}

.footer .demo h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  text-align: center;
  margin-bottom: 22px;
}

.footer .demo h3 {
  line-height: 1.5;
  text-align: center;
  margin-bottom: 5%;
}


.footer .page-footer a {
  text-decoration: none;
  color: white;
}

.footer .page-footer li {
  margin-bottom: 1rem;
}

.footer .page-footer {
  font-size: 0.77rem;
}

.footer .page-footer h5 {
  font-weight: bold;
  margin-bottom: 1.5rem;
}

/* /Footer */

/* buttons */
.btn-primary {
  color: #fff;
  border: none;
  cursor: pointer;
  background-image: -moz-linear-gradient(-60deg, rgb(121, 175, 212) 1%, rgb(67, 198, 185) 100%);
  background-image: -webkit-linear-gradient(-60deg, rgb(121, 175, 212) 1%, rgb(67, 198, 185) 100%);
  background-image: -ms-linear-gradient(-60deg, rgb(121, 175, 212) 1%, rgb(67, 198, 185) 100%);
  border-radius: 30px;
}

.btn-submit {
  padding: 10px 3rem;
}

.btn-secondary {
  border-radius: 10px;
  font-size: 1.4rem;
  padding: 18px 28px;
  line-height: normal;
  color: #fff;
  background-color: #43c6b9;
  border-color: #43c6b9;
  -webkit-appearance: none;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open>.dropdown-toggle.btn-secondary {
  color: #fff;
  background-color: #43c6b9;
  border-color: #43c6b9;
}

.btn-secondary:focus, .btn-secondary:active {
  outline: none !important;
  box-shadow: none !important;
}

#button-addon2 {
  background-image: -webkit-linear-gradient(-60deg, rgb(121, 175, 212) 1%, rgb(67, 198, 185) 100%);
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn-light {
  padding: 10px 30px;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: #6B6B6B;
}

/* buttons */
