body {
  font-family: 'Open Sans', sans-serif;
}

.main_title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.left .clearfix {
  text-align: center;
  justify-content: center;
  display: flex;
}

/*----------------- 7.0Registration link-------------------- */
.login_wrap {
  width: 100%;
  min-height: 100vh;
}

.login_wrap .right {
  width: 655px;
  float: right;
  min-height: 100vh;
  position: relative;
}

.login_right_wrap {
  padding-left: 83px;
  padding-right: 115px;
  padding-top: 83px;
  padding-bottom: 115px;
}

.logo_img {
  display: block;
  width: 178px;
  height: 40px;
}

.logo_img img {
  display: block;
  max-height: 100%;
}

.login_right_wrap .title {
  font-size: 28px;
  color: #333;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 19px;
}

.login_right_wrap .group {
  margin-bottom: 5px;
}

.group p {
  font-size: 14px;
  color: #333;
  margin-bottom: 3px;
}

.group input {
  height: 36px;
  border-radius: 4px;
  border: 1px solid #d3d9e2;
  line-height: 25px;
  width: 100%;
  padding: 0px 10px;
}

.login_right_wrap .table {
  margin-top: 20px;
}

.login_right_wrap .table-cell:first-child {
  padding-right: 4.5px;
}

.login_right_wrap .table-cell:last-child {
  padding-left: 4.5px;
}

.login_right_wrap .tip {
  font-size: 12px;
  color: #999;
}

.choice {
  padding-left: 24px;
  font-size: 14px;
  color: #000;
  position: relative;
}

.choice_box input {
  display: none;
}

.choice::after {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  background-image: url('../images/Yicon.png');
  background-repeat: no-repeat;
  background-size: 200px 200px;
  background-position: -78px -48px;
  position: absolute;
  top: 2px;
  left: 0;
}

.choice_box input:checked+.choice::after {
  background-position: -78px -68px;
}

.choice_box {
  display: block;
  cursor: pointer;
}

.login_right_wrap .choice_box {
  margin-top: 19px;
}

.btn {
  line-height: 49px;
  border-radius: 50px;
  text-align: center;
  display: block;
  text-align: center;
  font-size: 16px;
  color: #fff;
  border: none;
  cursor: pointer;
  background-image: -moz-linear-gradient(-60deg, rgb(121, 175, 212) 1%, rgb(67, 198, 185) 100%);
  background-image: -webkit-linear-gradient(-60deg, rgb(121, 175, 212) 1%, rgb(67, 198, 185) 100%);
  background-image: -ms-linear-gradient(-60deg, rgb(121, 175, 212) 1%, rgb(67, 198, 185) 100%);
}

.login_right_wrap .btn {
  width: auto;
  margin-bottom: 5px;
  margin-top: 40px;
  padding: 0px 35px;
}

.login_right_wrap .tip a {
  color: #68b6cb;
  border-bottom: 1px solid #68b6cb;
}

.login_right_wrap .tip.link {
  color: #68b6cb;
  border-bottom: 1px solid #68b6cb;
  float: right;
}

.login_wrap .left {
  float: left;
  width: calc(100% - 655px);
  position: relative;
  min-height: 100vh;
}

.login_left_bg {
  width: 100%;
  height: 100%;
  display: block;
}

.login_wrap .login_left_wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  padding: 135px 100px 0 100px;
  background-image: -moz-linear-gradient(-90deg, rgba(121, 175, 212, 0.749) 1%, rgba(67, 198, 185, 0.749) 100%);
  background-image: -webkit-linear-gradient(-90deg, rgba(121, 175, 212, 0.749) 1%, rgba(67, 198, 185, 0.749) 100%);
  background-image: -ms-linear-gradient(-90deg, rgba(121, 175, 212, 0.749) 1%, rgba(67, 198, 185, 0.749) 100%);
}

.login_left_wrap .main_title {
  font-size: 50px;
  margin-bottom: 30px;
}

.login_left_wrap .sub_title {
  font-size: 28px;
}

.login_left_wrap .tx_box {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}

.login_left_wrap .tx_box img {
  display: block;
  width: 100%;
  height: 100%;
}

.login_left_wrap .slogan_right {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  padding-left: 10px;
}

.login_left_wrap .word {
  width: 502px;
  height: 123px;
  background-image: url('../images/bg4.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  font-size: 12px;
  color: #000;
  line-height: 25px;
  padding: 20px 30px;
  text-transform: uppercase;
  position: absolute;
  bottom: 60px;
}

.login_left_wrap .word .multi-line {
  -webkit-line-clamp: 3;
}

.login_left_wrap .slogan_box {
  position: absolute;
  bottom: 90px;
  left: 100px;
}

@media screen and (max-width:1280px) {
  .login_right_wrap {
    padding-right: 100px;
  }

  .login_wrap .login_left_wrap {
    padding: 135px 50px 0px 50px;
  }

  .login_left_wrap .slogan_box {
    left: 50px;
  }
}

/* ------------------------7.1Log in now-------------------------- */
.login_right_wrap .reg_link {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 80px;
}

.log_right .fs16.col9+.group {
  margin-top: 50px;
}

/*-------------------- 1.0home---------------- */
.content_wrapper {
  background-color: #fbfbfb;
}

/* 头部start */
.nav_header {
  width: 100%;
  height: 77px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.14);
  font-size: 14px;
  color: #000;
}

.nav_container {
  width: 1285px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  padding: 20px 0;
}

.nav_header .header_logo {
  float: left;
  width: 156px;
  height: 35px;
  margin: 1px 90px 1px 0;
}

.nav_header .header_logo .logo {
  display: block;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.nav_header .header_info {
  float: right;
}

.nav_header .header_info li {
  float: left;
  margin-left: 35px;
}

.nav_header li a {
  font-size: 0.66rem;
  color: #000;
  line-height: 2.5;
  display: block;
}

.nav_header .header_info .btn {
  color: #fff;
  padding: 0px 15px;
}

.nav_header .header_menu {
  overflow: hidden;
  float: left;
}

.nav_header .header_menu li {
  float: left;
  margin-right: 35px;
}

/* 头部end */
/* 底部start */
.footer {
  background-image: url('../images/bg.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: 100% 100%;
  color: #fff;
  position: relative;
  height: 945px;
  padding-top: 120px;
  padding-bottom: 80px;
}

/* .footer_con{width:100%;height:100%;position:absolute;top:0;left:0;padding-top:120px;
  background-image: -moz-linear-gradient( -60deg, rgba(121,175,212,0.8) 1%, rgba(67,198,185,0.8) 100%);
  background-image: -webkit-linear-gradient( -60deg,rgba(121,175,212,0.8) 1%, rgba(67,198,185,0.8) 100%);
  background-image: -ms-linear-gradient( -60deg, rgba(121,175,212,0.8) 1%, rgba(67,198,185,0.8) 100%);
} */
.footer-title {
  font-size: 2.5rem;
  color: #fff;
  font-family: 'Roboto', sans-serif;
    font-weight: 900;
  line-height: 2;
  text-align: center;
  margin-bottom: 22px;
}

.footer-sub-title {

  line-height: 1.5;
  text-align: center;
  font-size: 1rem;
    font-weight: 600;
}

.footer .btn1 {
  width: 20%;
  line-height: 3;
  border-radius: 10px;
  background-color: #43c6b9;
  text-align: center;
  font-size: 0.9rem;
  color: #fff;
  display: block;
  margin: 55px auto 0;
  font-family: 'Open Sans', sans-serif;

}

.footer-column {
  margin-top: 218px;
}

.footer-column .footer-column-item {
  float: left;
  width: calc(75% / 4);
  padding-left: 120px;
}

.footer-column .footer-column-item:first-child {
  width: 25%;
  padding-left: 0px;
}

.footer-column .footer-column-item a {
  font-size: 13.5px;
  color: #fff;
}

.footer-column .footer-column-item .column-item-logo {
  display: block;
  width: 126px;
  margin-bottom: 25px;
}

.footer-column .footer-column-item li {
  margin-bottom: 20px;
}

.footer-column .footer-column-item li a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer-column .footer-column-item .column-item-title {
  font-size: 16px;
  margin-bottom: 30px;
}

.footer-column .column-item-sites {
  font-size: 14px;
  line-height: 26px;
  word-break: keep-all;
}

.footer-bottom {
  width: 100%;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 14px;
  color: rgba(255, 255, 255, 0.2);
  padding: 25px 0;
  line-height: 30px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.footer-bottom-right p, .footer-bottom-right img {
  display: inline-block;
  vertical-align: middle;
}

.footer-bottom-right img {
  max-height: 30px;
  margin-left: 25px;
}

/* 底部end */
.index_wrapper1 {
  padding: 5rem 0px 6.8rem;
}

.index_wrapper1 .right {
  width: 627px;
  height: 387px;
  border-radius: 6px;
  background-color: transparent;
  float: right;
  margin-right: 42px;
}

.index_wrapper1 .img_box {
  width: 627px;
  height: 387px;
  border-radius: 6px;
  padding: 30px 25px;
  overflow: hidden;
}

.index_wrapper1 .img_box img {
  display: block;
  max-height: 100%;
  border-radius: 6px;
  margin-left: auto;
  margin-right: auto;
}

.index_wrapper1 .left {
  width: 540px;
  float: left;
  padding-top: 20px;
}

.index_wrapper1 .title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
  background: linear-gradient(-60deg, rgb(121, 175, 212) 1%, rgb(67, 198, 185) 100%);
  -webkit-background-clip: text;
  color: transparent;
  font-family: 'Roboto', sans-serif;
}

.index_wrapper1 .sub_title {
  font-size: 0.6rem;
  color: #999;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  text-align: justify;
}

.index_wrapper1 .input_box {
  width: 308px;
  height: 49px;
  border-radius: 10px 0px 0px 10px;
  border: 1px solid #e1e1e1;
  background-color: #fff;
  border-right: none;
  float: left;
}

.index_wrapper1 .input_box input {
  line-height: 25px;
  height: 49px;
  width: 100%;
  background-color: transparent;
  padding: 0px 15px;
  font-size: 14px;
}

.index_wrapper1 .input_box input::placeholder {
  color: #d7d7d7;
}

.index_wrapper1 .btn {
  float: left;
  height: 49px;
  border-radius: 0px 10px 10px 0px;
  padding: 0px 20px;
}

.index_wrapper2 {
  background-image: -moz-linear-gradient(-60deg, rgb(121, 175, 212) 1%, rgb(67, 198, 185) 100%);
  background-image: -webkit-linear-gradient(-60deg, rgb(121, 175, 212) 1%, rgb(67, 198, 185) 100%);
  background-image: -ms-linear-gradient(-60deg, rgb(121, 175, 212) 1%, rgb(67, 198, 185) 100%);
  color: #fff;
  padding-top: 70px;
  padding-bottom: 90px;
}

.index_wrapper2 .index_wrapper2_title {
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
  margin-bottom: 2.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

.index_wrapper2 .right {
  width: 470px;
  float: right;
}

.index_wrapper2 .img_box {
  width: 470px;
  height: 408px;
  overflow: hidden;
}

.index_wrapper2 .img_box img {
  display: block;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.index_wrapper2 .left {
  width: 730px;
  float: left;
  color: #fff
}

.index_wrapper2 .intr_group {
  margin-bottom: 23px;
  padding: 0px 1.5rem;
}

.index_wrapper2 .intr_group:last-child {
  margin-bottom: 0px;
}

.index_wrapper2 .title {
  font-size: 1rem;
  font-weight: 600;
  color: #f5f5f5;
}

.index_wrapper2 .con {
  font-size: 0.666rem;
  line-height: normal;
  min-height: auto;
  color: #f5f5f5;
}

.index_wrapper3 {
  padding: 90px 0px;
}

.index_wrapper3 .title {
  font-size: 1.8rem;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  color: #333;
  width: 65%;
  text-align: center;
  margin: 0 auto;
  line-height: 1.5;
}

.index_wrapper3 .sub_title {
  font-size: 0.7rem;
  color: #999;
  line-height: normal;
  width: 65%;
  text-align: center;
  margin: 0 auto;
}

.index_wrapper3_card .left {
  width: 512px;
  float: left;
}

.index_wrapper3_card .right {
  width: 512px;
  float: right;
}

.index_wrapper3_card .row:nth-child(2n) .left {
  float: right;
}

.index_wrapper3_card .row:nth-child(2n) .right {
  float: left;
}

.index_wrapper3_card img {
  display: block;
  margin: 0 auto;
  max-width: calc(100% - 80px);
}

.index_wrapper3_card .card_title {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
  min-height: auto;
  margin-bottom: 18px;
}

.index_wrapper3_card .card_con {
  font-size: 0.666rem;
  line-height: normal;
  color: #999;
  text-align: justify;
}

.index_wrapper3_card .table:first-child {
  margin-top: 80px;
}

.index_wrapper3_card .table .table-cell:first-child {
  padding-right: 80px;
}

.index_wrapper3_card .table .table-cell:last-child {
  padding-left: 80px;
}

.index_logistics {
  margin-top: 5rem;
}

.index_logistics .title {
  font-size: 1rem;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

.logistics_card {
  text-align: center;
  margin-top: 20px;
}

.logistics_card img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 65px;
}

.logistics_card img:last-child {
  margin-right: 0px;
}

.index_wrapper4 {
  background-image: -moz-linear-gradient(-60deg, rgb(121, 175, 212) 1%, rgb(67, 198, 185) 100%);
  background-image: -webkit-linear-gradient(-60deg, rgb(121, 175, 212) 1%, rgb(67, 198, 185) 100%);
  background-image: -ms-linear-gradient(-60deg, rgb(121, 175, 212) 1%, rgb(67, 198, 185) 100%);
  padding: 130px 0px 150px;
  position: relative;
}

.index_wrapper4 .imgm {
  display: block;
  position: absolute;
  top: 130px;
  right: 0;
  max-width: 720px;
}

.index_wrapper4 .con {
  font-family: 'Roboto', sans-serif;
  color: #f5f5f5;
  font-size: 0.666rem;
  line-height: normal;
  padding-right: 550px;
  text-align: justify;
}

@media screen and (max-width:1280px) {
  .index_wrapper4 .con {
    padding-right: 700px;
  }
}

.index_wrapper4 .main_title {
  font-size: 1.5rem;
  line-height: 1.2;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: #f5f5f5;
  text-align: left;
}

.index_wrapper4 .sub_title {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #f5f5f5;
  line-height: normal;
  margin-top: 45px;
  margin-bottom: 10px;
}

/* -----------------------2.0--------------------- */
.solution_box {
  background-image: -moz-linear-gradient(-90deg, rgb(121, 175, 212) 1%, rgb(67, 198, 185) 100%);
  background-image: -webkit-linear-gradient(-90deg, rgb(121, 175, 212) 1%, rgb(67, 198, 185) 100%);
  background-image: -ms-linear-gradient(-90deg, rgb(121, 175, 212) 1%, rgb(67, 198, 185) 100%);
  padding-top: 66px;
  padding-bottom: 85px;
}

.solution_box .main_title {
  font-size:3rem;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
  color: #2758a1;
  text-align: center;
  margin-bottom: 13px;
}

.solution_box .sub_title {
  font-size: 0.9rem;
  color: #fff;
  text-align: center;
  margin-bottom: 70px;
}

.solution_box .right {
  width: 500px;
  float: right;
}

.solution_box .right img {
  display: block;
  max-width: 100%;
}

.solution_box .left {
  float: left;
  width: 655px;
  padding: 0px 50px;
}

.solution_box .img_box, .solution_box .con {
  display: inline-block;
  vertical-align: middle;
}

.solution_box .con {
  color: #fff;
  width: calc(100% - 170px);
}

.solution_box .img_box {
  width: 165px;
  overflow: hidden;
}

.solution_box .img_box img {
  display: block;
  max-height: 100%;
  margin: 0 auto;
}

.solution_box .item {
  margin-bottom: 24px;
  font-size: 0.6rem;
    line-height: normal;

    color: #f5f5f5;
}

.solution_box .item:last-child {
  margin-bottom: 0px;
}

.solution_box .con .title {
  font-size: 1rem;
    font-weight: 600;
  margin-bottom: 10px;
}

.solution_list_item {
  float: left;
  width: calc((100% - 200px) / 3);
  float: left;
  margin-right: 100px;
  font-size: 0.666rem;
  line-height: normal;
  text-align: justify;
  color: #f5f5f5;
  margin-top: 120px;
}

.solution_list_item:nth-child(3n) {
  margin-right: 0px;
}

.solution_list_item:nth-child(3n+4) {
  clear: both;
}

.solution_list_item .img_box {
  width: 178px;
  height: 122px;
  margin: 0 auto 38px;
  display: block;
  overflow: hidden;
}

.solution_list_item .img_box img {
  display: block;
  max-height: 100%;
  margin: 0 auto;
}

.solution_list_item .title {
  font-size: 1rem;
    font-weight: 600;
  text-align: center;
  letter-spacing: -0.5px;
  margin-bottom: 5px;
}

.echarts_box {
  background-color: #fff;
  background-image: url('../images/bg3.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: 100% 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}

.echarts_box .title {
  font-size: 1.8rem;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
  color: #78b0d3;

  text-align: center;
  margin-bottom: 50px;
}

.echarts_box .table {
  font-size: 0.666rem;
  color: #666;
  width: 100%;
  margin: 0 auto;
}

.echarts_box .table i {
  width: 27px;
  height: 27px;
  border-radius: 6px;
  display: inline-block;
  vertical-align: middle;
}

.echarts_box .table .num {
  display: inline-block;
  vertical-align: middle;
  font-size: 36px;
  width: auto;
}

.echarts_box .table .num span {
  vertical-align: super;
  font-size: 18px;
}

.echarts_box .table p {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 30px - 80px)
}

.echarts_box .table-cell:nth-child(1) i {
  background-color: #64d0ea;
}

.echarts_box .table-cell:nth-child(2) i {
  background-color: #58d29a;
}

.echarts_box .table-cell:nth-child(3) i {
  background-color: #f67866;
}

.echarts_box .table-cell:nth-child(4) i {
  background-color: #f8db5c;
}

.echarts_box .img_box {
  width: 100%;
  padding: 25px 0px 0px;
  overflow: hidden;
  margin-top: 30px;
}

.echarts_box .img_box img {
  display: block;
  margin: 0 auto;
}

.list {
  background-color: #fff;
  padding-top: 90px;
  padding-bottom: 90px;
}

.list .title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.list div.clearfix {
  padding: 0px 44px;
}

.list .item {
  float: left;
  display: block;
  width: calc((100% - 24px) / 4);
  margin-right: 8px;
  font-size: 12px;
  color: #68b6cb;
  margin-bottom: 10px;
  border: 1px solid #e6eaf2;
}

.list .item:nth-child(4n) {
  margin-right: 0px;
}

.list .list_con {
  border-top: none;
  padding: 12px;
}

.list .img_box {
  width: 100%;
  height: 292px;
  overflow: hidden;
}

.list .img_box img {
  display: block;
  margin: 0 auto;
}

.list .list_con .multi-line {
  color: #333;
}

.list .list_con p+p {
  margin-top: 15px;
}

/* ---------------------3.0Resources--------------------- */
.content_header {
  background-image: -moz-linear-gradient(-90deg, rgb(121, 175, 212) 1%, rgb(67, 198, 185) 100%);
  background-image: -webkit-linear-gradient(-90deg, rgb(121, 175, 212) 1%, rgb(67, 198, 185) 100%);
  background-image: -ms-linear-gradient(-90deg, rgb(121, 175, 212) 1%, rgb(67, 198, 185) 100%);
  padding-top: 105px;
  padding-bottom: 110px;
}

.content_header .main_title {
  font-size: 3.5rem;
  color: #fff;
  position: relative;
  text-align: center;
  margin-bottom: 50px;
}

.content_header .main_title::after {
  content: '';
  display: block;
  width: 74px;
  height: 3px;
  border-radius: 1.5px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -15px;
}

.content_header .sub_title {
  width: 695px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 30px;
  margin: 0 auto;
}

.list1 {
  background-color: transparent;
  padding-top: 58px;
}

.search_box {
  width: 322px;
  height: 44px;
  border-radius: 22px;
  border: 1px solid #e1e1e1;
  background-color: #fff;
}

.search_box input {
  background-color: transparent;
  padding-left: 25px;
  font-size: 20px;
  line-height: 25px;
  height: 44px;
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 50px);
}

.search_box input::placeholder {
  color: #d7d7d7;
}

.search_btn {
  width: 44px;
  height: 44px;
  padding: 12px;
  background-color: transparent;
  border: none;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.search_btn i {
  display: block;
  width: 20px;
  height: 20px;
  background-position: -103px -45px;
}

.list1 .right {
  float: right;
}

.list1 .left {
  float: left;
  width: calc(100% - 400px);
}

.select {
  width: 226px;
  height: 44px;
  border-radius: 4px;
  overflow: hidden;
  background-color: #fff;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
}

.select select {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  padding-right: 28px;
  background-image: url('../images/icon_arrow_d.png');
  background-repeat: no-repeat;
  background-position: 208px center;
  background-size: 9px 7px;
  font-size: 20px;
  color: #77b0d3;
  position: relative;
  z-index: 10;
  padding-left: 14px;
}

.select .icon_bg {
  display: block;
  width: 28px;
  height: 100%;
  background-color: #68b6cb;
  position: absolute;
  top: 0;
  right: 0;
}

.list1 .nav_row {
  margin-bottom: 60px;
}

.list1 .img_box {
  height: 315px;
  overflow: hidden;
}

.list1 div.clearfix {
  padding: 0;
}

.list1 .item {
  background-color: #fff;
  position: relative;
  border: none;
}

.list1 .list_con {
  font-size: 20px;
}

.list1 .list_con .multi-line {
  font-size: 16px;
  line-height: 24px;
}

.list1 .list_con p+p {
  margin-top: 0px;
}

.list1 .item_mask {
  width: 100%;
  height: 100%;
  background-color: rgba(104, 182, 203, 0.9);
  font-size: 14px;
  color: #fff;
  line-height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  padding: 27px 15px 36px;
  text-transform: uppercase;
  display: none;
}

.list1 .icon_download {
  width: 36px;
  height: 32px;
  display: block;
  background-position: -7px -68px;
  margin: 0 auto;
}

.list1 .item_mask p {
  height: calc(100% - 52px);
  margin-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ------------------3.1Resources------------- */
.item_detail_box {
  background-image: -moz-linear-gradient(-90deg, rgb(121, 175, 212) 1%, rgb(67, 198, 185) 100%);
  background-image: -webkit-linear-gradient(-90deg, rgb(121, 175, 212) 1%, rgb(67, 198, 185) 100%);
  background-image: -ms-linear-gradient(-90deg, rgb(121, 175, 212) 1%, rgb(67, 198, 185) 100%);
  padding: 100px 0px 100px;
}

.item_detail_box .left, .item_detail_box .right {
  display: inline-block;
  vertical-align: middle;
}

.item_detail_box .img_box {
  width: 363px;
  height: 378px;
  overflow: hidden;
}

.item_detail_box .img_box img {
  display: block;
  max-height: 100%;
  margin: 0 auto;
}

.item_detail_box .right {
  width: calc(100% - 370px);
  color: #fff;
  padding: 0px 90px;
}

.item_detail_box .title {
  font-size: 42px;
  line-height: 59px;
  margin-bottom: 30px;
  letter-spacing: -2.5px;
}

.item_detail_box .item_detail_con {
  font-size: 16px;
  line-height: 30px;
}

.item_detail_box .item_detail_con p+p {
  margin-top: 20px;
}

.info_list .item {
  float: left;
  width: 50%;
  font-size: 20px;
  color: #333;
  margin-top: 47px;
}

.info_list .item:nth-child(-n+2) {
  margin-top: 0px;
}

.info_list .input_box {
  width: 353px;
  height: 44px;
  border-radius: 22px;
  background-color: #fff;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}

.info_list .input_box input {
  background-color: transparent;
  width: 100%;
  height: 44px;
  line-height: 25px;
  padding: 0px 10px
}

.info_list .info_title {
  display: inline-block;
  vertical-align: middle;
}

.info_list .item:nth-child(2n+1) {
  padding: 0px 35px
}

.info_list .item:nth-child(2n+1) .info_title {
  width: calc(100% - 360px - 25px);
  margin-right: 25px;
  text-align: right;
}

.info_list .item:nth-child(2n) {
  padding-left: 35px;
}

.info_list .item:nth-child(2n) .info_title {
  width: 120px;
  text-align: left;
}

.info_box .title {
  font-size: 42px;
  color: #333;
  text-align: center;
  position: relative;
  margin-bottom: 95px;
}

.info_box .title::after {
  content: '';
  display: block;
  width: 74px;
  height: 3px;
  border-radius: 1.5px;
  background-color: #333;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -15px;
}

.info_box {
  padding-top: 95px;
  padding-bottom: 150px;
}

.info_list .icon_check {
  display: block;
  width: 29px;
  height: 29px;
  background-position: -126px -5px;
  cursor: pointer;
}

.info_list .choice_box {
  position: relative;
  height: 44px;
  line-height: 44px;
}

.info_list .choice_box .choice_label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 395px;
  display: block;
  width: 29px;
  height: 29px;
}

.info_list .choice_box input:checked+.icon_check {
  background-position: -165px -5px;
}

.info_box .btn1 {
  width: 179px;
  height: 44px;
  line-height: 44px;
  border-radius: 22px;
  background-color: #68b6cb;
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin: 88px auto 0;
  border: none;
  display: block;
  cursor: pointer;
}

.item_position .input_box {
  position: relative;
}

.item_position .input_box .icon_bg {
  display: block;
  width: 34px;
  height: 100%;
  background-color: #68b6cb;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url('../images/icon_arrow_d.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 9px 7px;
  position: absolute;
  z-index: 5;
}

.item_position .input_box input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  cursor: pointer;
  padding-right: 45px;
}

/*地址选择器样式*/
._citys {
  width: 450px;
  display: inline-block;
  border: 2px solid #eee;
  padding: 5px;
  position: relative;
  background-color: #fff
}

._citys span {
  color: #56b4f8;
  height: 15px;
  width: 15px;
  line-height: 12px;
  text-align: center;
  border-radius: 3px;
  position: absolute;
  right: 10px;
  top: 10px;
  border: 1px solid #56b4f8;
  cursor: pointer;
}

._citys0 {
  width: 100%;
  height: 34px;
  display: inline-block;
  border-bottom: 2px solid #56b4f8;
  padding: 0;
  margin: 0;
}

._citys0 li {
  display: inline-block;
  line-height: 34px;
  font-size: 15px;
  color: #888;
  width: 80px;
  text-align: center;
  cursor: pointer;
}

.citySel {
  background-color: #56b4f8;
  color: #fff !important;
}

._citys1 {
  width: 100%;
  display: inline-block;
  padding: 10px 0;
}

._citys1 a {
  min-width: 83px;
  height: 35px;
  display: inline-block;
  background-color: #f5f5f5;
  color: #666;
  margin-left: 6px;
  margin-top: 3px;
  line-height: 35px;
  text-align: center;
  cursor: pointer;
  font-size: 13px;
  overflow: hidden;
  padding: 0 10px;
}

._citys1 a:hover {
  color: #fff;
  background-color: #56b4f8;
}

.AreaS {
  background-color: #56b4f8 !important;
  color: #fff !important;
}

/*------------------- 4.1Blog----------------- */
.Blog_header .main_title {
  margin-bottom: 30px;
}

.Blog_list .item {
  font-size: 12px;
  color: #999;
}

.Blog_list div.clearfix {
  padding: 0px;
}

.Blog_list .img_box {
  width: 100%;
  height: 315px;
  overflow: hidden;
}

.Blog_list .list_con p+p {
  margin-top: 0px;
}

.Blog_list .item .name {
  width: calc(100% - 70px);
}

.Blog_list .list_con .multi-line {
  margin-bottom: 15px;
  min-height: 32px;
}

/*--------------- 4.0Blog-------------------- */
.Blog_box {
  padding-top: 50px;
}

.Blog_box .left {
  width: 763px;
  float: left;
}

.Blog_box .right {
  width: 413px;
  float: right;
}

.Blog_box_left {
  width: 100%;
  height: 517px;
  background-color: #fff;
}

.Blog_box_left .img_box {
  width: 100%;
  height: 288px;
  overflow: hidden;
}

.Blog_box_left .img_box img {
  display: block;
  max-height: 100%;
  margin: 0 auto;
}

.Blog_box_left .con {
  font-size: 18px;
  color: #333;
  line-height: 30px;
  padding: 30px;
}

.Blog_box_left .title {
  font-size: 32px;
  line-height: 40px;
  min-height: 80px;
  margin-bottom: 15px;
}

.Blog_box_right {
  width: 100%;
  height: 517px;
  background-color: #68b6cb;
  padding: 65px 39px;
  color: #fff;
  text-align: center;
}

.Blog_box_right .title {
  font-size: 32px;
  line-height: 40px;
  min-height: 80px;
  letter-spacing: -1px;
  text-align: center;
  margin-bottom: 25px;
}

.Blog_box_right .con {
  font-size: 18px;
  line-height: 24px;
  padding: 0px 30px;
}

.Blog_box_right input {
  width: 100%;
  height: 60px;
  background-color: #fff;
  border-radius: 30px;
  line-height: 25px;
  color: #333;
  font-size: 20px;
  padding: 0px 15px;
  margin-top: 45px;
}

.Blog_box_right input::placeholder {
  font-size: 20px;
  color: #d7d7d7;
  text-align: center;
}

.Blog_box_right .btn1 {
  width: 228px;
  height: 56px;
  line-height: 56px;
  border-radius: 28px;
  background-color: #fff;
  display: block;
  margin: 40px auto 0px;
  font-size: 20px;
  color: #68b6cb;
}

.Blog_tab_list .item {
  display: block;
  font-size: 20px;
  color: #333;
  padding: 0px 40px;
  line-height: 38px;
  border: 1px solid #333;
  float: left;
  border-radius: 20px;
  margin-right: 33px;
  margin-top: 15px;
}

.Blog_tab_list .Blog_row {
  padding-left: 36px;
  margin-top: 40px;
  margin-bottom: 40px;
  transition: all 0.2s;
  overflow-y: hidden;
}

.Blog_tab_list .icon_arrow_d {
  display: block;
  width: 13px;
  height: 9px;
  background-position: -30px -50px;
  margin: 0 auto;
  cursor: pointer;
}

.Blog_tab_list .icon_arrow_d.active {
  background-position: -54px -50px;
}

/*------------------- 4.2Blog--------------------- */
.Blog_detail {
  background-color: #fff;
}

.Blog_detail .right {
  float: right;
  width: 413px;
}

.Blog_detail .right .Yicon {
  width: 78px;
  height: 35px;
  display: block;
  margin: 117px auto 0;
}

.Blog_detail .link {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 18px;
}

.Blog_detail .link a {
  font-size: 12px;
  color: #000;
  height: 28px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 14px;
  border: 1px solid #d7d7d7;
  line-height: 26px;
  padding: 0px 28px;
  margin-right: 15px;
}

.Blog_detail .link a:last-child {
  margin-right: 0px;
}

.Blog_detail .left {
  float: left;
  width: 715px;
}

.Blog_detail_left {
  font-size: 16px;
  color: #666;
  line-height: 24px;
  padding-top: 35px;
}

.Blog_detail_con {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  color: #333;
  padding: 45px 0;
  margin-top: 12px;
}

.Blog_detail_con p {
  font-size: 16px;
  color: #333;
  line-height: 24px;
  margin-bottom: 25px;
}

.Blog_detail_con p:last-child {
  margin-bottom: 0px;
}

.Blog_detail_con img {
  display: block;
  max-width: 100%;
  margin: 25px auto;
}

.Blog_detail_left .link {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  color: #666;
  border-bottom: 1px solid #666;
  margin-right: 25px;
  line-height: 18px;
}

.Blog_detail_left .link:last-child {
  margin-right: 0px;
}

.recommend_box {
  width: 100%;
  height: 336px;
  background-color: #f4f4f4;
  padding: 25px;
  margin-top: 22px;
}

.recommend_box .img_box {
  width: 272px;
  height: 283px;
  overflow: hidden;
  float: left;
}

.recommend_box .img_box img {
  display: block;
  max-height: 100%;
  margin: 0 auto;
}

.recommend_box .con {
  width: 360px;
  float: right;
  text-align: center;
  padding-top: 44px;
}

.recommend_box p {
  margin-bottom: 25px;
}

.recommend_box .title {
  font-size: 20px;
  line-height: 24px;
  color: #333;
  min-height: 48px;
}

.recommend_box .intr {
  font-size: 16px;
  line-height: 24px;
  color: #666;
  min-height: 48px;
}

.recommend_box .btn1 {
  width: 203px;
  line-height: 43px;
  border-radius: 21.5px;
  background-color: #68b6cb;
  text-align: center;
  font-size: 16px;
  color: #fff;
  display: block;
  margin: 25px auto 0;
}

.Blog_detail .Blog_list .main_title {
  font-size: 42px;
  color: #333;
  text-align: center;
  margin-bottom: 38px;
}

.Blog_detail .list {
  padding-top: 80px;
  padding-bottom: 70px;
}

/* -------------------5.0contact us--------------------*/
.contact_box .container {
  padding: 0px 40px 0px 50px;
}

.contact_box .title {
  margin-bottom: 40px;
}

.contact_box .sub_title {
  font-size: 20px;
  color: #404040;
  text-align: center;
  margin-bottom: 70px;
}

.contact_box .item1 {
  float: left;
  width: 418px;
  margin-right: 90px;
  margin-bottom: 25px;
}

/*.contact_box .item1:nth-child(3n){margin-right:0px;}*/
.contact_box .input_box {
  width: 418px;
}

.contact_box .info_title, .contact_box .input_box {
  display: block;
}

.contact_box .info_title {
  line-height: 30px;
  padding: 0px 8px;
  font-size: 20px;
}

/*.contact_box .textarea{margin-top:40px;}*/
.contact_box textarea {
  width: 100%;
  height: 274px;
  border-radius: 22px;
  background-color: #fff;
  resize: none;
  padding: 15px;
  font-size: 20px;
  display: block;
}

.contact_box .btn1 {
  margin: 40px auto 0;
  cursor: pointer;
}

.contact_map {
  margin-bottom: 60px;
}

.contact_map .img_box {
  display: block;
  width: 1020px;
  margin: 0 auto;
  position: relative;
}

.contact_map .img_box img {
  display: block;
  max-height: 100%;
  margin: 0 auto;
}

.map_point {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-position: -88px -5px;
  vertical-align: top;
}

/* .email{width:271px;height:104px;background-image:url('../images/bg6.png');background-repeat:no-repeat;background-position:0px 0px;background-size:100% 100%;color:#fff;font-size:14px;padding-left:45px;padding-top:25px;position:absolute;left:47px;top:5px;z-index:5;display:none;} */
.email {
  width: 200px;
  height: 80px;
  background-image: url('../images/bg6.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: 100% 100%;
  color: #fff;
  font-size: 16px;
  padding-left: 45px;
  padding-top: 25px;
  z-index: 5;
  display: none;
  vertical-align: top;
  margin-top: 5px;
  margin-left: 20px;
  position: relative;
  z-index: 2;
}

.email.show {
  display: inline-block;
}

.map_item {
  position: absolute;
}

.map_item:nth-child(1) {
  top: 150px;
  left: 80px;
}

.map_item:nth-child(2) {
  top: 115px;
  left: 225px;
}

.map_item:nth-child(3) {
  top: 100px;
  left: 800px;
}

.map_item:nth-child(4) {
  top: 185px;
  left: 825px;
}

/* -------------------6.0Get Started Now---------------- */
.nav_header_hayline {
  background-color: transparent;
  position: relative;
  z-index: 20;
  box-shadow: none;
}

.header_bg {
  width: 100%;
  height: 873px;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 77px;
  background-image: url('../images/bg1.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.header_bg .container1 {
  padding-top: 115px;
}

.header_bg~.content_wrapper {
  padding-top: 796px;
}

.header_bg .left {
  width: 680px;
  float: left;
}

.header_bg .left_title {
  font-size: 42px;
  line-height: 52px;
  color: #fff;
  text-align: center;
}

.header_bg .right {
  width: calc(100% - 680px);
  float: right;
}

.header_bg_right {
  position: relative;
  padding: 0px 42px 0px 73px;
}

.header_bg_right::after {
  content: '';
  display: block;
  width: 1px;
  height: 590px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.header_bg_right .title {
  font-size: 42px;
  color: #326eb8;
  margin-bottom: 20px;
}

.header_bg_right .intr {
  font-size: 22px;
  line-height: 33px;
  color: #333;
  margin-bottom: 30px;
  padding-right: 50px;
}

.header_bg_right input {
  width: 492px;
  height: 38px;
  background-color: #fff;
  line-height: 25px;
  padding: 0px 18px;
  font-size: 16px;
}

.header_bg_right input::placeholder {
  color: #d7d7d7;
}

.header_bg_right input+input {
  margin-top: 17px;
}

.header_bg_right .choice_box {
  margin-top: 29px;
}

.header_bg_right .btn1 {
  width: 203px;
  height: 51px;
  background-color: #326eb8;
  line-height: 51px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
  display: block;
}

.can_list {
  padding-top: 90px;
  padding-bottom: 90px;
}

.can_list .main_title {
  font-size: 28px;
  color: #78b0d3;
  text-align: center;
}

.content_wrapper.bgf {
  background-color: #fff;
}

.can_list .solution_list_item {
  color: #333;
  text-align: center;
  margin-top: 70px;
}

.header_bg_right .choice::after {
  background-position: -133px -48px;
}

.header_bg_right .choice_box input:checked+.choice::after {
  background-position: -133px -68px;
}

/*7.3about us*/
.nav_header_hayline1 {
  background-color: transparent;
  position: relative;
  z-index: 20;
  box-shadow: none;
  color: #fff;
}

.nav_header_hayline1 li a {
  color: #fff;
}

.header_bg1 {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 778px;
  background-image: url('../images/bg8.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: 100% 100%;
  padding-top: 77px;
  color: #fff;
}

.about_title {
  padding-left: 2rem;
  width: 600px;
  word-break: keep-all;
  padding-top: 95px;
}

.about_title .title {
  font-size: 1.8rem;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    line-height: normal;
  word-break: break-word;
}

.about_title .detail {
  font-size: 26px;
  line-height: 30px;
  word-break: break-word;
}

.about_content {
  padding-top: 660px;
  padding-bottom: 95px;
}

.about_content_title {
  font-size: 2rem;
    font-weight: 600;

  color: #78b0d3;
  text-align: center;
}

.about_content_con {
  text-align: justify;
  font-size: 0.8rem;
  color: #999;
  line-height: 1.5;
}

.about_content_con p {
  word-break: break-word;
  margin-top: 30px;
}

.about_content_info {
  width: 582px;
}

.about_question {
  width: 100%;
  background-color: #fafafa;
  padding-top: 90px;
}

.about_question .title {
  font-size: 1.8rem;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    line-height: normal;
  color: #78b0d3;
  text-align: center;
  margin-bottom: 50px;
}

.about_list li {
  float: left;
  width: calc((100% - 210px) / 4);
  margin-right: 70px;
  margin-bottom: 70px;
}

.about_list li:nth-child(4n) {
  margin-right: 0px;
}

.about_list li:nth-child(4n+5) {
  clear: both;
}

.about_question_title {
  font-size: 16px;
  color: #333;
  line-height: 24px;
  letter-spacing: -1.2px;
  min-height: 48px;
  margin-bottom: 5px;
}

.about_question_answer {
  font-size: 14px;
  color: #333;
  line-height: 23px;
  letter-spacing: -1.2px;
}

.about_question_answer a {
  color: #78b0d3;
}

.about_start {
  width: 100%;
  height: 197px;
  background-color: #43c6b9;
  color: #fff;
  font-size: 32px;
}

.about_start .link {
  display: block;
  font-size: 24px;
  color: #43c6b9;
  line-height: 59px;
  border-radius: 29.5px;
  background-color: #fff;
  text-align: center;
  min-width: 249px;
  padding: 0 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.about_start .container {
  position: relative;
  height: 197px;
  line-height: 197px;
  padding-right: 300px;
}

/*头部样式重写*/
.nav_header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.nav_header~.content_wrapper {
  padding-top: 77px;
}

.nav_header .header_logo {
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.head_bg {
  background-image: url('../images/head_bg.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  box-shadow: none;
}

.head_bg li a {
  color: #fff;
}

.head_bg.nav_header .header_logo {
  background-image: url('../images/logo1.png');
}

.index_wrapper3_card .table {
  padding: 25px 0;
}

.index_wrapper3_card .card_title {
  font-weight: bold;
  letter-spacing: -0.25px;
}

.header_bg .left_title {
  margin-bottom: 50px;
}

/*按钮上下升降*/
.nav_header li a.btn {
  line-height: normal;
  height: 37px;
}

.nav_header .header_info .btn {
  padding: 9px 15px;
}

.nav_header .header_info .btn:active {
  height: 37px;
  border-radius: 4px;
  text-align: center;
  display: block;
  text-align: center;
  font-size: 14px;
  color: #fff;
  border: none;
  cursor: pointer;
  background-image: -moz-linear-gradient(-60deg, rgb(121, 175, 212) 1%, rgb(67, 198, 185) 100%);
  background-image: -webkit-linear-gradient(-60deg, rgb(121, 175, 212) 1%, rgb(67, 198, 185) 100%);
  background-image: -ms-linear-gradient(-60deg, rgb(121, 175, 212) 1%, rgb(67, 198, 185) 100%);
  padding: 8px 15px 10px;
  ;
  top: 1px;
  line-height: normal;
}

.index_wrapper3 .title {
  margin-bottom: 10px;
}

.index_logistics .title {}

.footer-column .footer-column-item .column-item-title a {
  font-weight: bold;
}

.footer-column .footer-column-item li:first-child {
  font-size: 16px;
  margin-bottom: 30px;
  font-weight: bold;
}

.footer-column .footer-column-item li:first-child a {
  font-size: 16px;
}

.nav_header li a {
  padding: 0 10px;
  border-radius: 4px;
}

.nav_header .header_menu li {
  margin-right: 15px;
}

.nav_header .header_menu li:hover a {
  background-color: rgba(37, 37, 37, .1);
}

.nav_header .header_info li:hover a {
  background-color: rgba(37, 37, 37, .1);
  background-image: none;
}

.nav_header .header_info li:hover a.btn {
  background-color: #508db5;
  background-image: none;
}

/*3.18修改*/
.login_right_wrap .btn.mb15 {
  margin-bottom: 15px;
}

.nav_header .header_info .btn {
  border-radius: 30px;
}

.nav_header .header_info li {
  margin-left: 0;
}

.nav_header .header_info a {
  padding: 0 20px;
}
